<html>

      <head>
      <title>cetak</title>
      <style type="text/css">
            body { font-family: Arial; font-size: 16.7px }
            .pos { position: absolute; z-index: 0; left: 0px; top: 0px }
      </style>
      </head>
      <body>

<div class="pos" id="_589:100" style="top:100;left:589">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
Kendari, Tgl....................................2021</span>
</div>
<div class="pos" id="_368:122" style="top:122;left:368">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
PERMOHONAN HAK PAKAI</span>
</div>
<div class="pos" id="_100:165" style="top:165;left:100">
<span id="_11.7" style=" font-family:Times New Roman; font-size:11.7px; color:#000000">
Yang bertanda tangan di bawah ini kami, .................................................................. alamat Desa/Kel......................................... Kecamatan </span>
</div>
<div class="pos" id="_100:187" style="top:187;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
.........................................,.dalam hal ini bertindak untuk dan atas nama Pemerintah Kabupaten Konawe Selatan, dengan ini mengajukan </span>
</div>
<div class="pos" id="_100:208" style="top:208;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
permohonan hak PAKAI dengan keterangan sebagai berikut :</span>
</div>
<div class="pos" id="_100:230" style="top:230;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
1. Nama lengkap ( jangan disingkat )</span>
</div>
<div class="pos" id="_100:251" style="top:251;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
2. Kartu Tanda Penduduk</span>
</div>
<div class="pos" id="_100:273" style="top:273;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
LETAK TANAH:</span>
</div>
<div class="pos" id="_100:295" style="top:295;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
3. Desa/Kelurahan</span>
</div>
<div class="pos" id="_100:316" style="top:316;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
4. Kecamatan</span>
</div>
<div class="pos" id="_100:338" style="top:338;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
5.Kota/Kabupaten</span>
</div>
<div class="pos" id="_100:359" style="top:359;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
6. Luas</span>
</div>
<div class="pos" id="_100:381" style="top:381;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
SURAT-SURAT YANG PERLU DILAMPIRKAN:</span>
</div>
<div class="pos" id="_100:402" style="top:402;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
#. Foto copy KTP / Surat Tanda</span>
</div>
<div class="pos" id="_100:424" style="top:424;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
#. Surat Bukti perolehan/penguasaan tanah</span>
</div>
<div class="pos" id="_100:445" style="top:445;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
#. Surat Pernyataan Asset</span>
</div>
<div class="pos" id="_100:467" style="top:467;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
#. Surat-Surat /Data Pendudukung Lainnya</span>
</div>
<div class="pos" id="_100:489" style="top:489;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
Apabila  permohonan  tersebut  dikabulkan  pemohon  bersedia  memenuhi/mematuhi  syarat-syarat  yang  telah  dan  akan  ditetapkan  oleh </span>
</div>
<div class="pos" id="_100:510" style="top:510;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
pemerintah. Demikian keterangan dalam permohonan ini dibuat dengan sebenarnnya dan kami bertanggung jawab bilamana memberikan </span>
</div>
<div class="pos" id="_100:532" style="top:532;left:100">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
keterangan yang tidak benar dapat dituntut di hadapan yang berwajib.</span>
</div>
<div class="pos" id="_634:553" style="top:553;left:634">
<span id="_12.1" style=" font-family:Times New Roman; font-size:12.1px; color:#000000">
Tanda tangan pemohon</span>
</div>
</nowrap></nobr>
</body>
</html>
